* {
    box-sizing: border-box;
}
html, body{ 
    height: 100%;
    width: 100vw;
    padding: 0!important;
    margin: 0!important;
    min-height: 100%;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.glowBorder {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 10px #4CAF50;
    transition: box-shadow 0.1s linear;
}
.row {
    width: 100%;
    margin: 0!important;
}
.main_content {
    display: block;
    position: relative;
    width: 100%;
    height: 1000px;
}
.upitnik_wrapper {
    display: block;
    position: absolute;
    width: 60%;
    height: 100%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.pitanjaDiv {
    display: block;
    position: absolute;
    width: 100%;
    top: 350px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.checkboxForm {
    display: block;
    height: auto;
    margin-top: 100px;
}
.product_wrapper {
    display: block!important;
    position: absolute;
    width: 100vw;
    height: 100%;
    margin: 0;
}
.productsDiv {
    top: 150px;
}
.products {
    display: flex;
}
.otherProductsDiv {
    margin-top: 20px;
}
.other_products {
    display: flex;
}
.block1 {
    margin-top: 90px;
    width: 100%; 
}
.block2 {
    width: 100%;
    margin-top: 90px;
}
.hide {
    display: none!important;
}
.show {
    display: block!important;
}
.disable {
    opacity: 0.2;
}
.progressWrapper {
    width: 100%;
    display: block;
    position: absolute;
    top: 10px;
}
#progressDiv_1, #progressDiv_2, #progressDiv_3, #progressDiv_4, #progressDiv_5 {
display: inline-block;
width: 10%;
background-color: #ddd;
border-radius: 30px;
}
#progress_1, #progress_2, #progress_3, #progress_4, #progress_5{
width: 0%;
height: 30px;
background-color: #4CAF50;
border-radius: 30px;
}