* {
    box-sizing: border-box;
}
html, body{ 
    height: 100vh;
    width: 100%;
    max-width: 100%;
    padding: 0!important;
    margin: 0!important;
    min-height: 100%;
}
body {
    font-family: Lato, Helvetica, Arial, sans-serif!important;
}
h1 {
    color:  #FFFFFF;
}
.heading {
    display: none;
}
.pitanje {
    color:  #FFFFFF;
    font-size: 2.0rem;
}
.btn_answer {
    color: #fff!important;
    font-size: 1.2rem!important;
    background-color: #019966!important;
    border-color: #96dbc5!important;
    border-style: solid!important;
    border-radius: 3rem!important;
    border-width: 2px!important;
    background-image: linear-gradient(to top,#019966 5%, #FFFFFF 150%)!important;
    width: 100%!important;
    height: 3.2rem;
}
.btn_answer:hover {
    background-image: linear-gradient(to top, #93F9B9 0%, #019966 100%);
}
.hide {
    display: none!important;
}
.show {
    display: block!important;
}
.checkbox_overlay {
    z-index: 99999;
    background-color: transparent;
    pointer-events: none;
}
input[type='checkbox'] {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
} 
.pitanje_container {
    height: auto;
}
.pitanje_row {
    padding: 0.6rem;
    background-color: #019966;
}
.main_content {
    width: 100%;
    position: relative;
    min-height: 100vh;
}
.navigacija {
    display: block!important;
    background-color: #5f1ae6;
    height: 96px!important;
    width: 100%;
}
form p {
    font-size: 0.7rem;
}
form .row img {
    height: 3.9rem;
}
.progress_container i {
    display: inline-block;
}
.circle {
    background-color:#fff;
    border: 0.18rem solid rgb(0, 59, 158);
    height:25px;
    width:25px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
/* .circle::before {
    content: 'Pol';
    display: block;
    text-align: center;
    position: absolute;
    bottom:  100px;
    right: 10px;
    z-index: 999999;
} */
.circle_big {
    border:0.18rem solid rgb(0, 59, 158);    
    height:30px;
    width:30px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    background-color: white;
}
.progress_col {
    overflow: visible;
    display: inline;
    z-index: 5;
}
.progress_col::before {
    content: 'Pol';
    display: block;
    position: absolute;
    text-align: center;
    bottom: 10px;
    height: 100%;
    /* top: 50%; */
}
.circle_shadow {
    box-shadow: 0px 2px 4px rgba(0, 59, 158, 1);
	-moz-box-shadow: 0px 2px 4px rgba(0, 59, 158, 1);
	-webkit-box-shadow: 0px 2px 4px rgba(0, 59, 158, 1);
	-o-box-shadow: 0px 2px 4px rgba(0, 59, 158, 1);
}
.circle_background {
    background-color: rgb(0, 166, 222);
}
.prev_btn {
    border-radius: 0 30px 30px 0;
    border-color: rgb(250,167,37);
    margin-left: -15px;
    background-color: rgb(253,209,139);
    border-style: solid;
    border-left: none;
    color: dimgrey;
    width: 6rem;
    height: 2.9;
    padding: 0;
}
.submit_btn {
    border-radius: 30px 0 0 30px;
    border-style: solid;
    border-right: none;
    margin-right: -15px;
    height: 3.5rem;
    font-size: 1.5rem;
    color: white;
    background-color: #019966;
}
.progress_container {
    background-color: rgba(147, 249, 185, 0.1);
    height: 4.375rem;
    border: solid 3px #019966;
    border-bottom: none;
    border-radius: 50px 50px 0 0;
    max-width: 95%;
    display: block;
    position: absolute;
    bottom: 0!important;
    left: 50%;
    transform: translateX(-50%);
}
.btn_nav_div {
    position: absolute;
    height: 3.5rem;
    bottom: 5.3rem!important;
    margin: -15px!important;
}
.upitnik_wrapper {
    padding-bottom: 7rem;
    width: 100%;
}
.product_wrapper {
    padding-bottom: 7rem;
    width: 100%;
}
#strana_1, #strana_2, #strana_3, #strana_4, #strana_5, #strana_6 {
    padding-top: 10vh;
}
.card h4 {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 400;
}
.progress {
    position: absolute!important;
    width: 71%!important;
    top: 43%!important;
    transform: translateX(-50%)!important;
    height: 12px!important;
    left: 50%;
    background-image: url('../img/misc/line.png');
    opacity: 0.8;
}
.progress-bar-two {
    transition:none;
    background-image: url('../img/misc/vertical_lines.png') no-repeat !important;
    background-color: white!important;
}
.progress-bar {
    transition:none!important;
    /* opacity: 0.52; */
    /* background-color: rgb(0,166,222)!important; */
    background-image: url('../img/misc/vertical_lines.png');
    transition-duration:1ms;
}
.bar_0 {
    width: 0;
}
.bar_20 {
    width: 20%;
}
.bar_40 {
    width: 40%;
}
.bar_60 {
    width: 60%;
}
.bar_80 {
    width: 80%;
}
.bar_100 {
    width: 100%;
}
@media (orientation: portrait) {
    .upitnik_wrapper {
        padding-bottom: 0;
    } 
}
@media (min-width: 992px) {
    .navigacija {
        display: block!important;
        background-color: #5f1ae6;
        height: 91px!important;
        width: 100%;
    }
    .upitnik_wrapper {
        padding-bottom: 7rem;
        max-width: 1140px!important;
        min-height: 720px;

    }
    .progress_container {
        background-color: rgba(147, 249, 185, 0.1);
        height: 10rem;
        border: solid 3px #019966;
        border-radius: 40px 40px 0 0;
        /* max-width: 95%; */
        display: block;
        bottom: 5rem!important;
        max-width: 960px!important;
    }
    .circle {
        background-color:#fff;
        border: 0.22rem solid rgb(0, 59, 150);    
        height:60px;
        width:60px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
    }
    .circle_big {
        border:0.20rem solid rgb(0, 59, 150);    
        height:75px;
        width:75px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        background-color: white;
    }
    .progress_col {
        overflow: hidden;
        display: inline;
    }
    .circle_shadow {
        box-shadow: 0px 2px 4px rgba(0, 59, 158, 1);
        -moz-box-shadow: 0px 2px 4px rgba(0, 59, 158, 1);
        -webkit-box-shadow: 0px 2px 4px rgba(0, 59, 158, 1);
        -o-box-shadow: 0px 2px 4px rgba(0, 59, 158, 1);
    }
    .circle_background {
        background-color: rgb(0, 166, 222);
    }
    .progress {
        position: absolute!important;
        width: 81%!important;
        top: 40%!important;
        transform: translateX(-50%)!important;
        height: 35px!important;
        left: 50%;
        background-image: url('../img/misc/line.png');
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: repeat-x;
    }
    .progress-bar {
        background-image: url('../img/misc/vertical_lines.png');
    }
    .prev_btn {
        border-radius: 30px 30px 30px 30px;
        border-color: rgb(250,167,37);
        margin-left: -15px;
        background-color: rgb(253,209,139);
        border-style: solid;
        color: dimgrey;
        width: 8rem;
        height: 3rem;
        padding: 0;
    }
    .submit_btn {
        border-radius: 30px 30px 30px 30px;
        border-style: solid;
        margin-right: -15px;
        height: 3.5rem;
        font-size: 1.5rem;
        color: white;
        background-color: #019966;
        padding: 0 1rem;
    }
    /* .progress_container{
        position: absolute;
        height: 3.5rem;
        bottom: 16rem!important;
        transform: none!important;
        padding: 0 7rem 0 7rem!important;
    } */
    .btn_answer_col {
        padding: 0 30%!important;
    }
    .btn_answer {
        color: #fff!important;
        font-size: 2rem!important;
        background-color: #019966!important;
        border-color: #96dbc5!important;
        border-style: solid!important;
        border-radius: 3rem!important;
        border-width: 2px!important;
        background-image: linear-gradient(to top,#019966 5%, #FFFFFF 150%)!important;
        width: 100%!important;
        height: auto;
       /*  height: 5.5rem; */
    }
    .heading {
        display: block;
        color: black;
        height: 10rem;
        background-image: url(../img/magnall_ikonice/kviz_header.jpg);
        background-size: auto;
    }
    .heading h1 {
        padding-top: 50px;
    }
    .pitanje_row {
        padding: 1.5rem;
        background-color: white;
    }
    .pitanje {
        color: #545c5d;
        font-size: 2.5rem;
    }
    #strana_1, #strana_2, #strana_3, #strana_4, #strana_5, #strana_6 {
        padding-top: 0;
    }
    form .row img {
        height: 5.5rem;
    }
    form p {
        font-size: 1rem;
    }
}

